/data/
notebooks/combined_file.csv
combined_file.csv

# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.swp

# Конфигурация IDE
.vscode/
.idea/
*.iml

# Зависимости
node_modules/
__pycache__/
*.py[cod]

*.csv